<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{vendor/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{css/styles.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>

  <!--navegacion-->
  <div th:fragment="navegacion">
    <header class="header">
      <div class="menu container">
        <a th:href="@{/}" class="Logo">Las Grutas</a>
        <form class="form-inline my-2 my-lg-0" method="post" th:action="@{/search}">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" name="nombre"
            autocomplete="off">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>

        <img src="" class="menu-icono" alt="">

        <nav class="navbar">
          <ul>
            <li> <a th:href="@{/getCart}">Carrito</a></li>
            <li> <a th:href="@{/}">Productos</a></li>
            <li> <a th:href="@{/usuario/login}">Login</a></li>
          </ul>
        </nav>
      </div>

      <div class="header-content container">
        <h1>Las Grutas Del Cocona</h1>
        <p>
          Las Grutas de Coconá se encuentran en un área natural protegida, bajo la denominación de Monumento
          natural, localizada en el cerro del mismo nombre, a solo 2 km de la ciudad de Teapa, y a 56 km de la
          ciudad de Villahermosa, capital del estado de Tabasco, México.
        </p>
        <a th:href="@{/getActividades}" class="btn-1">Actividades</a>
      </div>
    </header>

  </div>
  <!-- Page Content -->

 <div th:fragment="navegacion-user">
    <header class="header">
      <div class="menu container">
        <a th:href="@{/}" class="Logo">Las Grutas</a>
        <form class="form-inline my-2 my-lg-0" method="post" th:action="@{/search}">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" name="nombre"
            autocomplete="off">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
        <input type="checkbox" id="menu">
        <label for="menu">
          <img src="" class="menu-icono" alt="">
        </label>
        <nav class="navbar">
          <ul>
            
            <li> <a th:href="@{/usuario/compras}">Compras</a></li>
            <li> <a th:href="@{/getCart}">Carrito</a></li>
            <li> <a href="#">USER</a></li>
          </ul>
        </nav>
      </div>

      <div class="header-content container">
        <h1>Las Grutas Del Cocona</h1>
        <p>
          Las Grutas de Coconá se encuentran en un área natural protegida, bajo la denominación de Monumento
          natural, localizada en el cerro del mismo nombre, a solo 2 km de la ciudad de Teapa, y a 56 km de la
          ciudad de Villahermosa, capital del estado de Tabasco, México.
        </p>
        <a href="#" class="btn-1">Información</a>
      </div>
    </header>
  </div>


  <!-- Footer -->
  <div th:fragment="footer">
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Copyright &copy; Grutas del Cocona 2023
          <a href="https://wa.me/TUNUMERODEWHATSAPP" target="_blank" class="text-white">
            <i class="fab fa-whatsapp" style="margin-left: 80%;"></i> Contáctanos en WhatsApp
          </a>
        </p>
      </div>
    </footer>

  </div>
  <!-- Bootstrap core JavaScript -->
  <script th:src="@{vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>