<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grutas Cocona</title>
    <link th:href="@{css/style.css}" rel="stylesheet" >
</head>

<body>

    <header class="header">
        <div class="menu container">
            <a href="#" class="Logo">Las Grutas</a>
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li> <a href="#">Inicio</a></li>
                    <li> <a href="#">Servicios</a></li>
                    <li> <a href="#">Productos</a></li>
                    <li> <a href="#">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-content container">
            <h1>Las Grutas Del Cocona</h1>
            <p>
                Las Grutas de Coconá se encuentran en un área natural protegida, bajo la denominación de Monumento
                natural, localizada en el cerro del mismo nombre, a solo 2 km de la ciudad de Teapa, y a 56 km de la
                ciudad de Villahermosa, capital del estado de Tabasco, México.
            </p>
            <a href="#" class="btn-1">Información</a>
            
        </div>
        
    </header>

    <section class="grutas">

        <img class="grutas-img" src="#" alt="">


        <div class="grutas-content">

            <h2>Antecedentes y Actividades</h2>
            <p class="txt-p">
                Las grutas fueron descubiertas por Rómulo Calzada Casanova y su hermano Laureano, en 1876.
                Posteriormente, el 20 de julio de 1892 el reconocido científico, naturalista y botánico José Narciso
                Rovirosa, se convirtió en el primer hombre en explorar la gruta, ya que organizó una expedición en
                compañía del propio Rómulo Calzada y un grupo de alumnos del Instituto Juárez. Esta exploración tuvo una
                duración de cuatro horas y se atribuyó a la cavidad una longitud de 492 m.
                Dentro de las actividades que
                nos ofrece esta gran reserva natural, es el senderismo, esta actividad
                deportiva tiene como fin el descubrimiento del patrimonio natural de el bello municipio de Teapa Tabasco
                durante el recorrindo podran observar una diversidad de flora y fauna exotica.
                Tambien nos ofrecen actividades extremas como el Rapel y la Tirolesa.
            </p>

            <div class="grutas-group">

                <div class="Grutas-1">
                    <img th:src="@{img/img-tiro.jpg}" width="450px" height="250px" alt="">
                    <h3> T I R O L E S A </h3>
                    <p>
                        la tirolesa cuenta con una altura de 18 metros y un recorrido de 4 metros, cotamos con todas las
                        medidas correspondientes y el equipo adeacuado de seguridad.
                    </p>
                </div>

                <div class="Grutas-1">
                    <img src="img/img-send4vic.JPG" width="450px" height="250px" alt="">
                    <h3>S E N D E R I S M O </h3>
                    <p>
                        Esta actividad deportiva que se dessarrolla en el medio natural cuanta con un tiempo de
                        recorrido de 3 horas, atravesando por parte de la sierra de Teapa tabasco, donde podremos
                        observar flora y fauna exotica.
                    </p>


                    <div class="Grutas-1">
                        <img src="img/img-senogrut.JPG" width="450px" height="250px" alt="">
                        <h3>C E N O T E </h3>
                        <p>
                            Las grutas se forman de manera semejante a los cenotes, pero en lugares donde el nivel
                            freático es muy profundo, por lo que se conservan secas las cavidades, contamos con un
                            recorrido de una hora donde podran observar un cenote.
                        </p>
                    </div>
                    <div class="Grutas-1">
                        <img src="img/img-grutros.JPG" width="450px" height="250px" alt="">
                        <h3>F O R M A C I O N E S </h3>
                        <p>
                            Durante el recorrido observaran aproximadamente 50 formaciones creadas por estalacticas y
                            estalagmitas, estas son aquellas estructuras puntiagudas que crecen desde el techo, y las
                            estalagmitas, que nacen del suelo.
                        </p>
                    </div>

                </div>
                <a href="#" class="bnt-1"></a>
            </div>

    </section>

    <main class="services">

        <div class="services-content container">
            <h2>Servicios Gruteros</h2>

            <div class="services-group">

                <div class="services-1">
                    <img src="" alt="">
                    <h3>VENTA DE ARTESANIAS </h3>

                    <div class="services-group">

                        <div class="services-1">
                            <img src="" alt="">
                            <h3>ATRACCIONES </h3>

                            <div class="services-group">

                                <div class="services-1">
                                    <img src="" alt="">
                                    <h3>VENTA DE DULCES ARTESANALES</h3>
                                </div>
                                <p>
                                    Dentro de los servicios que ofrecemos en las Grutas del Cocona son una gran variedad
                                    de
                                    Artesanias que provienen de los 17 municipios de Tabasco todo hecho con manos y
                                    materiales 100% Tabasqueñas cada una de las piezas que
                                    vendemos aportan un valor y un significado de cada región.
                                </p>
                                <a href="#" class="btn-1">Conoce la variedad de Artesanias</a>
                            </div>
    </main>

    <section class="gereral">
        <div class="general-1">
            <h1>"Gastronomía del Edén de México"</h1>
            <p class="gastronomía"><img src="img/img-art9.JPG" width="50%" height="600px" alt="Artesanias" class="left" >
                Tabasco mejor conocido como el edén de México, el estado se caracteriza por su agua y su energia ya que
                posee el 53% de Agua de todo el pais, hasta el dia de hoy se asientan 4 grupos étnicos en el territorio,
                la cultura indígena dominante es la chontal, ya que muchas de las costumbres y creencias tabasqueñas se
                basan en su antigua cosmogonía, permeada por rasgos mayas y olmecas. Dicho esto algunas artesanias son
                enfocadas a ciertas culturas, el estado de Tabasco cuenta con 17 municipios (Balancan, Cardenas,
                Centla,Centro, Comalcalco, Cunduacán, Emiliano zapata, Huimanguillo, Jalapa, Jalpa de Mendez, Jonuta,
                Macuspana, Nacajuca, Paraiso, Tacotalpa, Teapa, Tenosique.) En las artesanias tenemos una gran variedad
                como también son parte de las atracciones que existen en
                cada lugar de México, en Centla los artesanos elaboran diversos elementos con dientes y mandíbulas de
                tiburón, también usan conchas, caracoles, escamas, estrellas de mar y mucho más. También se fabrican
                objetos de madera, pieles y lirios acuáticos. La alfarería no se queda atrás porque en Centla se
                elaboran objetos sencillos y ornamentos de concha, algunos de esos objetos son zapatos, bolsas,
                carteras, llaveros, cinturones, etc. las artesanias en la zona centro de Tabasco destacan por destacan
                por ser hechas a mano por personas que se han especializado en eso, conocidos como artesanos. Lo que más
                se fabrica en el municipio de Centro son bolsa, carteras, cinturones y zapatos; estos productos se
                fabrican con elementos como piel de bovino, lagarto y otros animales regionales contamos con un extenso
                surtido de Artesanias.
            </p>
        </div>
        <div class="general-2"></div>
    </section>

    <section class="gereral">
        <div class="general-3"></div>
        <div class="general-1">
            <h2>"Artesanias del Edén de México"</h2>
            <p><img src="img/img-art10.JPG" alt="Artesanias" class="rigth">
                en Jalapa existe gran variedad de dulces que son elaborados a base de frutas tales como naranja, coco
                con piña y coco con
                camote, los cuales son envueltos en hojas de maíz conocido como joloche. Los dulces mexicanos se
                preparan de forma tradicional, lo que en cierto punto es considerado como artesanal, de el municipio de
                Ncajuca podemos encontrar licor de cacao, la melcocha, merengues y buñuelos, a parte de todo eso
                contamos con un extensa variedad gastronomica de nuestro estado, tambien tenemos tostadas de pozol,
                totopostes, Chocolates 100% artesanales y dulces de coco, nance, ganabana, orejas de minco, avena con
                cacao,pirote,mueganos, licores de sabores, platanos fritos, cacao garapiñado,cremas de cacao, mazapanes,
                turrones de sabores, queso provolone, mezcales, horchatas, entre lotras cosas.
            </p>
        </div>
    </section>







    <section class="blog container">
        <h2>BLOG</h2>
        <p>

        <div class="blog-content">
            <div class="blog-1">
                <img src="img/img-gru1.JPG" alt="">
                <h3>ESCALERA GRUTAS </h3>
                <p>RECORRIDO DE LAS GRUTAS DONDE SE OBSERVAN UNA PARTE DE LAS FORMACIONES 
                </p>
            </div>

            <div class="blog-1">
                <img src="img/img-grut2.JPG" alt="">
                <h3>RAPEL</h3>
                <p>
               TRAGALUZ DONDE SE HACE RAPEL, TIENE UNA ALTURA DE 15 METROS.
                </p>
            </div>

            <div class="blog-1">
                <img src="img/img-gru5.JPG" alt="">
                <h3>CUEVA </h3>
                <p>
                PARTE DEL RECORRIDO POR LAS GRUTAS 
                </p>
            </div>
        </div>



        <div class="blog-content2">
            <div class="blog-1">
                <img src="img/img-pai.JPG" width="300px" height="360px" alt="">
                <h3>SENDERISMO</h3>
                <p>
                IMAGEN TOMADA DEL RECORRIDO POR LOS SENDEROS 
                </p>
            </div>

            <div class="blog-1">
                <img src="img/img-gentgru.JPG" width="300px" height="360px" alt="">
                <h3>TURISMO</h3>
                <p>
                   TURISMO EN LAS GRUTAS DEL COCONA 
                </p>
            </div>

            <div class="blog-1">
                <img src="img/img-send.JPG" width="300px" height="360px" alt="">
                <h3>RECORRIDO</h3>
                <p>
                PARTE DE LO QUE SE OBSERVA POR EL RECORRIDO POR LOS SENDEROS.
                </p>
            </div>
        </div>
    </section>

    <section>
       <!--<h2>Deja un comentario</h2>-->

        <form class="formulario">
            <fieldset>
                <legend>DEJA TU COMENTARIO</legend>
                <div class="contenedor-campos">
                    <div class="campo">
                        <label>Nombre</label>
                        <input class="input-text" type="text">
                    </div>
                    <div class="campo">
                        <label>Mensaje</label>
                        <textarea class="input-text"></textarea>
                    </div>
                </div> <!--contenedor-campos-->

                    <div class="alinear-derecha flex">
                        <input class="boton w-sm-100" type="submit" value="Enviar">
                    </div>
            </fieldset>
        </form>
    </section>
    
        

</html>