

  <!--navegacion-->
  <div th:fragment="navegacion">
    <header class="header">
      <div class="menu container">
        <a th:href="@{/administrador}" class="Logo">Las Grutas</a>
        <form class="form-inline my-2 my-lg-0" method="post" th:action="@{/search}">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" name="nombre"
            autocomplete="off">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
        <input type="checkbox" id="menu">
        <label for="menu">
          <img src="" class="menu-icono" alt="">
        </label>
        <li class="nav-item dropdown"><a
          class="nav-link dropdown-toggle" href="#"
          id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"> ADMIN </a>
          <div class="dropdown-menu"
            aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" th:href="@{/productos}">Productos</a> 
            <a class="dropdown-item" th:href="@{/administrador/usuarios}">Usuarios</a> 
            <a class="dropdown-item" th:href="@{/administrador/ordenes}">Ordenes</a>
            <a class="dropdown-item" th:href="@{/usuario/cerrar}">Salir</a>
          </div></li>
      </div>

      <div class="header-content container">
        <h1>Las Grutas Del Cocona</h1>
        <p>
          Las Grutas de Coconá se encuentran en un área natural protegida, bajo la denominación de Monumento
          natural, localizada en el cerro del mismo nombre, a solo 2 km de la ciudad de Teapa, y a 56 km de la
          ciudad de Villahermosa, capital del estado de Tabasco, México.
        </p>
        <a th:href="@{/getActividades}" class="btn-1">Actividades</a>
      </div>
    </header><!--navegacion-->
  </div>



  <!--footer-->
  <div th:fragment="footer">
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Grutas del Cocona 2023</p>
      </div>
      <!-- /.container -->
    </footer>
  </div>
  

  