<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Grutas del Cocona</title>
  <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>

<body>

  <!-- Navigation -->
  <div th:insert="~{administrador/templateadmin.html::navegacion}"></div>

<!-- Page Content -->
<div class="container">


  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3" style="color: white;">
    Grutas del Cocona <small>Usuarios</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
    <li class="breadcrumb-item active">Ver Usuarios</li>
  </ol>
  <h3 style="color: white;">Usuarios</h3>
  <table class="table" style="background-color: white;">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Dirección</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="usuario:${usuarios}">
        <td th:text="${usuario.nombre}"></td>
        <td th:text="${usuario.email}">Email</td>
        <td th:text="${usuario.direccion}">Dirección</td>
      </tr>       
    </tbody>
  </table>

</div>
<!-- /.container -->

<!-- Footer -->
<div th:insert="~{administrador/templateadmin.html::footer}">
    <!--footer-->
  </div>
  <!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>