/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400&display=swap');*/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}



body {
   font-family: 'Poppins', sans-serif;
}

.container {
   max-width: 120rem;
   margin: 0 auto;
}

.header {
   background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
         rgba(0, 0, 0, 0.7)),
      url(/imagenes/grutas.JPG);
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 70vh;
      display: flex;
      align-items: center;
   }

   .menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Logo {
 color: #fffdfc;
 font-size: 25px;
 font-weight: 800;
 }

.menu .navbar ul li {
 position: relative;
 float: left;
}
.menu .navbar ul li a {
 font-size: 18px;
 padding: 20px;
 color: #fffdfc;
 display: block;
 font-weight: 600;
}

.menu .navbar ul li a:hover{
color: #ce967b; 
}

#menu {
 display: none;
 }

 .menu-icono {
    width: 25px;
}

.menu label {
 cursor: pointer;
 display: none;
}

.header-content{
 text-align: center;
 }

 .header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color:#f9fafc; 
    text-transform: uppercase;
    margin-bottom: 35px;
 }
.header-content p { 
 font-size: 16px;
 color: #c5c5c5;
 padding: 0 250px;
 margin-bottom: 25px;
}

@media(min-width:768px){
 .btn-1 {
    width: auto;
 }
}

.btn-1 {
 display: inline-block;
 padding: 11px 35px;
 background-color: #e26fae;
 color:#000000;
 text-transform: uppercase;
 justify-content: center;
 outline: none;
}

.btn-1:hover {
background-color: #834c31;
}

 @media(min-width:768px){
    .gereral {
       text-align: center;
       justify-content: center;
       display: grid;
       
    }
 }
 
    .gereral {
       
       width: 100%;
       display: grid;
       background-color:#e0c7d7;
    
    }
 
 .gastronomia {
    text-align: right;
 }
 .general-1 { 
    width: 100%;
    padding: 100px 350px 100px 100px;
    background-color:#c29775;
   
    }
 
    .general-2 {
       background-position: center center;
       background-repeat: no-repeat;
       background-size:cover;
       width : 50%;
     }  
 
      
       .left {
          float: right;
          }
       
    .general-3 {
       background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    } 
 
      .rigth{
       float: right;
       width: 50%;
       height: 600px;
       clear: left;
    }
 
 
    h2 {
       font-size: 45px;
       line-height: 60px;
       color:black;
       text-transform: uppercase;
       margin-bottom: 20px;
        text-align:left;
     }
   
      
    @media(max-width:768px) {
 
       .menu {
          padding: 30px;
          }
         
          .menu label {
             display: initial;
          }
 
          .menu .navbar {
             position: absolute;
             top: 100%;
             left: 0;
             right: 0;
             background-color: #323337;
             display: none;
          }
          .menu.navbar ul li {
             width: 100%;
             }
 
       #menu:checked~.navbar{
          display: initial;
 
       }
 
       .header {
          min-height: 0vh;
       }
 
       .header-content{
          padding: 100px 30px;
       }
 
       .header-content p {
          padding: 0;
       }
      }
    
 .container{ container{ 
    max-width: 600px;
    margin: 20px auto;
    background: #834c31;
    border-radius: 7px;
    padding: 20px;
 }
 }
 
 /*Contacto*/
 .formulario{
    background-color: #154360;
    max-height: 430px;
    width: 100%; /*Utlizar el valor mas peque침o*/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
 }
 
 
 .formulario legend {
   
    text-align: center;
    font-size: .6rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1rem;
    color: white;
 }
 @media(min-width: 768px) {
    .contenedor-campos {
        display: grid;
        column-gap: 1rem;
    }
 }
 .campo:nth-child(3),
 .campo:nth-child(4) {
    grid-column: 1 / 3;
 }
 
 .campo {
    margin-bottom: 4rem;
 }
 .campo label {
    color: white;
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
 }
 .campo textarea {
    max-height: 6rem;
    margin-bottom: -2rem;
 }
 .input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
    max-height: 2rem;
 }
 
 .boton {
    background-color: #e26fae;
    color: white;
    padding: 1rem 3rem;
    margin-top: -10px;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
 }
 @media(min-width:768px){
    .boton{
        width: auto;
    }
 }
 .boton:hover {
    cursor:pointer;
 }
  .boton {
    width: 100%;
 }
 
 .w-sm-100 {
    width: 100%;
 }
 @media(min-width: 768px){
    .w-sm-100{
        width: auto;
    }
 }
 
 .alinear-derecha {
    text-align: center;
 }

 
  /* Cambia el color del bot칩n a rojo */
  .btn-outline-success {
    color: #fff; /* Cambia el color del texto a blanco */
    background-color: #e26fae; /* Cambia el color de fondo a rojo */
    border-color: #e26fae; /* Cambia el color del borde a rojo */
  }

  .btn-outline-success:hover {
   background-color: #834c31; /* Cambia el color de fondo a rojo */
   border-color: #000000; /* Cambia el color del borde a rojo */
 }

 .custom-img-class {
   max-width: 500px; /* Ajustar al ancho m치ximo de su contenedor */
   height: 325px;   /* Mantener la proporci칩n de aspecto original */
   display: block; /* Centrar la imagen horizontalmente */
   margin: 0 auto; /* Alinear horizontalmente */
 }


 .btn-success {
   background-color: #e26fae;
   color: #000000;
 }
 
 .btn-success:hover{
   background-color: #834c31;
   border-color: #000000;
 }
 
 